[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Check Groups
Name[de]=Gruppen prüfen
Name[el]=Έλεγχος Ομάδων
Name[es]=Verificar grupos
Name[fr]=Vérifier les groupes
Name[id]=Periksa Grup
Name[it]=Controlla i Gruppi
Name[ja]=グループの確認
Name[pl]=Sprawdź Grupy
Name[pt_BR]=Verificar Grupos
Name[pt_PT]=Verificar Grupos
Name[ru]=Просмотреть Группы
Comment=Check user's groups he/she belongs to
Comment[de]=Prüfe zu welcher Benutzergruppe er/sie gehört
Comment[el]=Ελέγξτε σε ποιές Ομάδες χρηστών ανήκει κάποιος χρήστης
Comment[es]=Verifique si él/ella pertenece a un grupo de usuarios
Comment[fr]=Vérifier à quels groupes appartient l'utilisateur
Comment[id]=Periksa dalam grup mana user termasuk
Comment[it]=Controlla a quali gruppi appartiene un utente
Comment[ja]=ユーザーが所属しているグループを確認します
Comment[pl]=Sprawdź do jakich grup należy użytkownik
Comment[pt_BR]=Verifica quais os grupos de usuários que ele / ela pertence
Comment[pt_PT]=verifica os grupos de usuários que ele / ela pertence
Comment[ru]=Просмотреть принадлежность Пользователя к Группам
Exec=/usr/lib/sparkyusers/bin/sparky-checkgroups
Icon=gtk-find
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
