[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Check Groups
Name[de_DE]=Gruppen prüfen
Name[es_AR]=Verificar grupos
Name[fr_FR]=Vérifier les groupes
Name[it_IT]=Controlla i Gruppi
Name[ja_JP]=グループの確認
Name[pl_PL]=Sprawdź Grupy
Name[pt_BR]=Verificar Grupos
Name[pt_PT]=Verificar Grupos
Name[ru_RU]=Просмотреть Группы
Comment=Check user's groups he/she belongs to
Comment[de_DE]=Prüfe zu welcher Benutzergruppe er/sie gehört
Comment[es_AR]=Verifique si él/ella pertenece a un grupo de usuarios
Comment[fr_FR]=Vérifier à quels groupes appartient l'utilisateur
Comment[it_IT]=Controlla a quali gruppi appartiene un utente
Comment[ja_JP]=ユーザーが所属しているグループを確認します
Comment[pl_PL]=Sprawdź do jakich grup należy użytkownik
Comment[pt_BR]=Verifica quais os grupos de usuários que ele / ela pertence
Comment[pt_PT]=verifica os grupos de usuários que ele / ela pertence
Comment[ru_RU]=Просмотреть принадлежность Пользователя к Группам
Exec=/usr/lib/sparkyusers/bin/sparky-checkgroups
Icon=gtk-find
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
