[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Add Group
Name[de]=Gruppe hinzufügen
Name[es]=Agregar grupo
Name[fr]=Ajouter un groupe
Name[id]=Tambah Grup
Name[it]=Aggiungi Gruppo
Name[ja]=グループの追加
Name[pl]=Dodaj Grupę
Name[pt_BR]=Adicionar Grupo
Name[pt_PT]=Adicionar grupo
Name[ru]=Создать Группу
Comment=Add a new group to the system
Comment[de]=Füge dem System eine neue Gruppe hinzu
Comment[es]=Agregue un nuevo grupo al sistema
Comment[fr]=Ajouter un nouveau groupe au système
Comment[id]=Tambahkan grup baru ke sistem
Comment[it]=Aggiungi un nuovo gruppo al sistema
Comment[ja]=システムに新しいグループを追加します
Comment[pl]=Dodaj nową grupę do systemu
Comment[pt_BR]=Adiciona um novo grupo para o sistema
Comment[pt_PT]=Adiciona um novo grupo para o sistema
Comment[ru]=Создать новую Группу в системе
Exec=remsu /usr/lib/sparkyusers/bin/sparky-groupadd
Icon=dialog-ok
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
