[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remove User From Group
Name[de_DE]=Benutzer aus einer Gruppe entfernen
Name[es_AR]=Eliminar un usuario de un grupo
Name[fr_FR]=Supprimer un utilisateur du groupe
Name[it_IT]=Rimuovi Utente da Gruppo
Name[ja_JP]=ユーザーをグループから削除
Name[pl_PL]=Usuń Użytkownika z Grupy
Name[pt_BR]=Remover Usuário do Grupo
Name[pt_PT]=Remover usuário do grupo
Name[ru_RU]=Исключить Пользователя из Группы
Comment=Remove user from a group
Comment[de_DE]=Entferne einen Benutzer aus einer Gruppe
Comment[es_AR]=Elimine un usuario de un grupo
Comment[fr_FR]=Supprimer un utilisateur du groupe
Comment[it_IT]=Rimuovi un utente da un gruppo
Comment[ja_JP]=グループからユーザーを削除します
Comment[pl_PL]=Usuń użytkownika z grupy
Comment[pt_BR]=Remove usuário de um grupo
Comment[pt_PT]=Remove usuário de um grupo
Comment[ru_RU]=Исключить Пользователя из Группы
Exec=remsu /usr/lib/sparkyusers/bin/sparky-remuserfromgroup
Icon=cancel
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
