[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remove User From Group
Name[de]=Benutzer aus einer Gruppe entfernen
Name[el]=Αφαιρέστε κάποιο χρήστη από Ομάδα
Name[es]=Eliminar un usuario de un grupo
Name[fr]=Supprimer un utilisateur du groupe
Name[id]=Hapus User Dari Grup
Name[it]=Rimuovi Utente da Gruppo
Name[ja]=ユーザーをグループから削除
Name[pl]=Usuń Użytkownika z Grupy
Name[pt_BR]=Remover Usuário do Grupo
Name[pt_PT]=Remover usuário do grupo
Name[ru]=Исключить Пользователя из Группы
Comment=Remove user from a group
Comment[de]=Entferne einen Benutzer aus einer Gruppe
Comment[el]=Αφαιρέστε κάποιο χρήστη από ομάδα χρηστών
Comment[es]=Elimine un usuario de un grupo
Comment[fr]=Supprimer un utilisateur du groupe
Comment[id]=Hapus user dari grup
Comment[it]=Rimuovi un utente da un gruppo
Comment[ja]=グループからユーザーを削除します
Comment[pl]=Usuń użytkownika z grupy
Comment[pt_BR]=Remove usuário de um grupo
Comment[pt_PT]=Remove usuário de um grupo
Comment[ru]=Исключить Пользователя из Группы
Exec=remsu /usr/lib/sparkyusers/bin/sparky-remuserfromgroup
Icon=cancel
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
