[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remove User
Name[de_DE]=Benutzer entfernen
Name[es_AR]=Eliminar usuario
Name[fr_FR]=Supprimer un utilisateur
Name[it_IT]=Rimuovi Utente
Name[ja_JP]=ユーザーの削除
Name[pl_PL]=Usuń Użytkownika
Name[pt_BR]=Remover Usuário
Name[pt_PT]=Remover Usuário
Name[ru_RU]=Удалить Пользователя
Comment=Remove an user from the system
Comment[de_DE]=Entferne Benutzer vom System
Comment[es_AR]=Elimine un usuario del sistema
Comment[fr_FR]=Supprimer un utilisateur du système
Comment[it_IT]=Cancella un utente dal sistema
Comment[ja_JP]=システムからユーザーを削除します
Comment[pl_PL]=Usuń użytkownika z systemu
Comment[pt_BR]=Remove um usuário do sistema
Comment[pt_PT]=Remove um usuário do sistema
Comment[ru_RU]=Удалить Пользователя из системы
Exec=remsu /usr/lib/sparkyusers/bin/sparky-userdel
Icon=gtk-remove
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
