[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Add User To Group
Name[de]=Benutzer einer Gruppe hinzufügen
Name[el]=Προσθέστε χρήστη σε Ομάδα
Name[es]=Agregar un usuario a un grupo
Name[fr]=Ajouter un utilisateur au groupe
Name[id]=Tambah User Ke Grup
Name[it]=Aggiungi Utente al Gruppo
Name[ja]=ユーザーをグループへ追加
Name[pl]=Dodaj Użytkownika Do Grupy
Name[pt_BR]=Adicionar Usuário ao Grupo
Name[pt_PT]=Adicionar usuário ao grupo
Name[ru]=Добавить Пользователя в Группу
Comment=Add an user to the system's group
Comment[de]=Füge Benutzer der Systemgruppe hinzu
Comment[el]=Προσθέστε κάποιο χρήστη σε μια Ομάδα χρηστών του συστήματος
Comment[es]=Agregue un usuario al grupo del sistema
Comment[fr]=Ajouter un utilisateur à un groupe du système
Comment[id]=Tambahkan user ke grup sistem
Comment[it]=Aggiungi un utente ad uno dei gruppi del sistema
Comment[ja]=システムグループにユーザーを追加します
Comment[pl]=Dodaj użytkownika do grupy systemowej
Comment[pt_BR]=Adiciona um usuário ao grupo de sistema
Comment[pt_PT]=Adiciona um usuário ao grupo de sistema
Comment[ru]=Добавить Пользователя в системную группу
Exec=remsu /usr/lib/sparkyusers/bin/sparky-addusertogroup
Icon=address-book-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;

