[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Add User
Name[de_DE]=Benutzer hinzufügen
Name[es_AR]=Agregar usuario
Name[fr_FR]=Ajouter un utilisateur
Name[it_IT]=Aggiungi Utente
Name[ja_JP]=ユーザーの追加
Name[pl_PL]=Dodaj Użytkownika
Name[pt_BR]=Adicionar Usuário
Name[pt_PT]=Adicionar Usuário
Name[ru_RU]=Создать Пользователя
Comment=Add a new user to the system
Comment[de_DE]=Füge dem System einen neuen Benutzer hinzu
Comment[es_AR]=Agregue un nuevo usuario al sistema
Comment[fr_FR]=Ajouter un nouvel utilisateur au système
Comment[it_IT]=Aggiungi un nuovo utente al sistema
Comment[ja_JP]=システムに新しいユーザーを追加します
Comment[pl_PL]=Dodaj nowego użytkownika systemu
Comment[pt_BR]=Adiciona um novo usuário ao sistema
Comment[pt_PT]=Adiciona um novo usuário ao sistema
Comment[ru_RU]=Создать нового Пользователя в системе
Exec=remsu /usr/lib/sparkyusers/bin/sparky-adduser
Icon=contact-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
