[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Remove User
Name[de]=Benutzer entfernen
Name[es]=Eliminar usuario
Name[fr]=Supprimer un utilisateur
Name[id]=Hapus User
Name[it]=Rimuovi Utente
Name[ja]=ユーザーの削除
Name[pl]=Usuń Użytkownika
Name[pt_BR]=Remover Usuário
Name[pt_PT]=Remover Usuário
Name[ru]=Удалить Пользователя
Comment=Remove an user from the system
Comment[de]=Entferne Benutzer vom System
Comment[es]=Elimine un usuario del sistema
Comment[fr]=Supprimer un utilisateur du système
Comment[id]=Hapus user dari sistem
Comment[it]=Cancella un utente dal sistema
Comment[ja]=システムからユーザーを削除します
Comment[pl]=Usuń użytkownika z systemu
Comment[pt_BR]=Remove um usuário do sistema
Comment[pt_PT]=Remove um usuário do sistema
Comment[ru]=Удалить Пользователя из системы
Exec=remsu /usr/lib/sparkyusers/bin/sparky-userdel
Icon=gtk-remove
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
