[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Add User
Name[de]=Benutzer hinzufügen
Name[el]=Πρόσθεση χρήστη
Name[es]=Agregar usuario
Name[fr]=Ajouter un utilisateur
Name[id]=Tambah User
Name[it]=Aggiungi Utente
Name[ja]=ユーザーの追加
Name[pl]=Dodaj Użytkownika
Name[pt_BR]=Adicionar Usuário
Name[pt_PT]=Adicionar Usuário
Name[ru]=Создать Пользователя
Comment=Add a new user to the system
Comment[de]=Füge dem System einen neuen Benutzer hinzu
Comment[el]=Προσθέστε ένα νέο χρήστη στο σύστημα
Comment[es]=Agregue un nuevo usuario al sistema
Comment[fr]=Ajouter un nouvel utilisateur au système
Comment[id]=Tambahkan user baru ke sistem
Comment[it]=Aggiungi un nuovo utente al sistema
Comment[ja]=システムに新しいユーザーを追加します
Comment[pl]=Dodaj nowego użytkownika systemu
Comment[pt_BR]=Adiciona um novo usuário ao sistema
Comment[pt_PT]=Adiciona um novo usuário ao sistema
Comment[ru]=Создать нового Пользователя в системе
Exec=remsu /usr/lib/sparkyusers/bin/sparky-adduser
Icon=contact-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
