[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Add User To Group
Name[de_DE]=Benutzer einer Gruppe hinzufügen
Name[es_AR]=Agregar un usuario a un grupo
Name[fr_FR]=Ajouter un utilisateur au groupe
Name[it_IT]=Aggiungi Utente al Gruppo
Name[ja_JP]=ユーザーをグループへ追加
Name[pl_PL]=Dodaj Użytkownika Do Grupy
Name[pt_BR]=Adicionar Usuário ao Grupo
Name[pt_PT]=Adicionar usuário ao grupo
Name[ru_RU]=Добавить Пользователя в Группу
Comment=Add an user to the system's group
Comment[de_DE]=Füge Benutzer der Systemgruppe hinzu
Comment[es_AR]=Agregue un usuario al grupo del sistema
Comment[fr_FR]=Ajouter un utilisateur à un groupe du système
Comment[it_IT]=Aggiungi un utente ad uno dei gruppi del sistema
Comment[ja_JP]=システムグループにユーザーを追加します
Comment[pl_PL]=Dodaj użytkownika do grupy systemowej
Comment[pt_BR]=Adiciona um usuário ao grupo de sistema
Comment[pt_PT]=Adiciona um usuário ao grupo de sistema
Comment[ru_RU]=Добавить Пользователя в системную группу
Exec=remsu /usr/lib/sparkyusers/bin/sparky-addusertogroup
Icon=address-book-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;

