[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Users, Groups and Passwords
Name[de]=Benutzer, Gruppen und Passwörter
Name[es]=Usuarios, grupos y contraseñas
Name[fr]=utilisateurs, groupes et mots de passe
Name[id]=User, Grup dan Password
Name[it]=Utenti, Gruppi e Passwords
Name[jp]=ユーザー・グループ・パスワード
Name[pl]=Użytkownicy, Grupy i Hasła
Name[pt_BR]=Usuários, Grupos e Passwords
Name[pt_PT]=Usuários, grupos e passwords
Name[ru]=Пользователи, Группы и пароли
Comment=Manage Users, Groups and Passwords of the System
Comment[de]=Verwalte Benutzer, Gruppen und Passwörter des Systems
Comment[es]=Administre los usuarios, grupos y contraseñas del sistema
Comment[fr]=Gestion des utilisateurs, groupes et mots de passe du système
Comment[id]=Manajemen User, Grup dan Password Sistem
Comment[it]=Gestisci gli Utenti, i Gruppi e le Password del Sistema
Comment[ja]=システムのユーザー・グループ・パスワードを管理します
Comment[pl]=Zarządzaj użytkownikami, grupami i hasłami systemowymi
Comment[pt_BR]=Administra usuários, grupos e passwords do sistema
Comment[pt_PT]=Administra usuários, grupos e passwords do Sistema
Comment[ru]=Управление Пользователями, Группами и паролями системы
Exec=/usr/bin/sparky-users
Icon=contact-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
