[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Users, Groups and Passwords
Name[de_DE]=Benutzer, Gruppen und Passwörter
Name[es_AR]=Usuarios, grupos y contraseñas
Name[fr_FR]=utilisateurs, groupes et mots de passe
Name[it_IT]=Utenti, Gruppi e Passwords
Name[jp_JP]=ユーザー・グループ・パスワード
Name[pl_PL]=Użytkownicy, Grupy i Hasła
Name[pt_BR]=Usuários, Grupos e Passwords
Name[pt_PT]=Usuários, grupos e passwords
Name[ru_RU]=Пользователи, Группы и пароли
Comment=Manage Users, Groups and Passwords of the System
Comment[de_DE]=Verwalte Benutzer, Gruppen und Passwörter des Systems
Comment[es_AR]=Administre los usuarios, grupos y contraseñas del sistema
Comment[fr_FR]=Gestion des utilisateurs, groupes et mots de passe du système
Comment[it_IT]=Gestisci gli Utenti, i Gruppi e le Password del Sistema
Comment[ja_JP]=システムのユーザー・グループ・パスワードを管理します
Comment[pl_PL]=Zarządzaj użytkownikami, grupami i hasłami systemowymi
Comment[pt_BR]=Administra usuários, grupos e passwords do sistema
Comment[pt_PT]=Administra usuários, grupos e passwords do Sistema
Comment[ru_RU]=Управление Пользователями, Группами и паролями системы
Exec=/usr/bin/sparky-users
Icon=contact-new
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;
